@charset "UTF-8";
/* CSS Document */
  body {
    background-color: lightcoral;
    margin: 0;
    font-size: 40px;
  }
@font-face {
	font-family: 'impactreg';
	src: url('./impactreg.eot');
	src: local('impactreg'), url('./impactreg.woff') format('woff'), url('./impactreg.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_7349">Text with this font applied</p> */
.fontsforweb_fontid_7349 {
	font-family: 'impactreg' !important;
}

/* Font downloaded from FontsForWeb.com */


#container {
			   background-image: url("background thanksgiving.jpg");
	  width:90%;
	  margin-top: 40vh;
	  margin-left: 10vh;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"
  }

  p {
	      color: #FFCCAA;
	  font-size: 30px
	 color: white;
	  text-align: center
  }
 

  img {
    display: block;
	  margin-right: auto
}
	  .responsive {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

/* tell browser don't display it when screen is wider than 768px */
  .mobile-only {
    display: none;
  }

/* tell browser to do the followings when screen is at and narrower than 768px */
  @media only screen and (max-width: 768px) {
	  
    body {
      background-color: coral;
    }
	  
	#container {
      margin-top: 20vh;
    }
	   
    p {
    color: #FFFFFF;
	text-align: center
    }
	  
	#cursive {
  	}
	  
    .mobile-only {
      display: block;
    }
	  /* Now the style and content for desktop will not be displied */
    .desktop-only {
      display: none;
    }

} /* don't forget to close the styles for mobile/