@charset "utf-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
  background-color: #1B1B1B;
  color: #AEE2FF;
  margin: 0;
  padding: 50px;
  line-height: 0.75;
}
h1 {

  font-size: 3em;
}

h2 {font-size: 2em;

}

h4 {font-size: 1.5em;
margin-top: 0;

}

dt {
	font-size: 2em;
	font-weight: bold;